@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

:root {
    --font-primary: 'Roboto', sans-serif;

    --font-weight-bold: 700;
    --font-weight-regular: 400;
    --font-weight-light: 300;

    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 18px;
    --font-size-xl: 20px;
}
